<div class="ciudadano-container">
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + ciudadano.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano1.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano1.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + ciudadano1.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano2.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano2.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + ciudadano2.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano3.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano3.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + ciudadano3.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano4.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano4.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + ciudadano4.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano5.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano5.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + ciudadano5.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano6.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano6.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + ciudadano6.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano7.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano7.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + ciudadano7.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano8.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano8.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + ciudadano8.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano9.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano9.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + ciudadano9.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano10.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano10.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + ciudadano10.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano11.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano11.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + ciudadano11.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano12.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano12.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + ciudadano12.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano13.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ ciudadano13.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + ciudadano13.age }}</p>
</div>
